h1 {
    color: crimson;
    font-family: sans-serif;
    margin: 0px 0px 15px 0px;
}

h2 {
    color: crimson;
    font-family: sans-serif;
    border-bottom: dotted 4px crimson;
}

h3 {
    color: crimson;
    font-family: sans-serif;
}
body {
    margin: 0;
}
.overview {
    font-style: italic;
}
#head {
    background-color: #eee;
    border-bottom: solid 1px silver;
}
#foot {
    background-color:#eee;
    border-top: solid 1px silver;
}
.content{
    padding: 10px;
}
/*#personal-links{
    margin-top: 0;
}*/
footer h3{
    margin-top:0;
}
#profile-pic {
    height: 200px;
    background-color: white;
    border: solid 2px silver;
    padding: 2px;
    float: right;
    margin-left: 10px;
}

/*Number Box Coding */
.numbers-box {
    height: 60px;
    width: 60px;
    border: solid 1px;
    background: white;
    position:fixed;
    right: 5px;
    bottom: 5px;
}
.color-box {
    width: 25px;
    height: 25px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
}
.color-box-1 {
    background-color: yellowgreen;
    top: 0;
    left: 0;
}
.color-box-2 {
    background-color: orange;
    top: 0;
    right: 0;
}
.color-box-3 {
    background-color: skyblue;
    bottom: 0;
    right: 0;
}
.color-box-4 {
    background-color: violet;
    bottom: 0;
    left: 0;
}
#joke {
    width: 50%;
    border: solid 2px silver;
    border-bottom: solid 4px crimson;
    padding: 5px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}
th {
    border: solid 1px silver;
    padding: 10px;
    text-align: left;
}

td {
    border: solid 1px silver;
    padding: 10px;
    text-align: left;
}

.nav-list{
    list-style-type: none;
    padding: 0;

}

.nav-list li{
    display: inline;
    margin: .5em;

}
a {
    color: crimson;
}
footer li img {
    width: 16px;
}
